# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
terraform.tfvars.json
*.tfstate*
.terragrunt
.terragrunt-cache
.terraform.lock.hcl

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# DS Stores
.DS_Store
./*.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment variables
.env